html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: arial,sans-serif;
    background-color: #000000;
}

.bottomArea {
    color: #efefef;
    font-size: 14pt;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

div.bottomArea {
    display: flex;
    justify-content: space-between;
}

#ContentArea {
    clear: both;
    position: relative;
    width: 100%;
    height: 95%;
}

#loadingText {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    background-color: white;
    color: #121212;
}

#ExifLayer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    opacity: 0.75;
    text-align: center;
}

table.ExifTable {
    border: 1px solid #666666;
    border-collapse: collapse;
    empty-cells: show;
    margin-left: auto;
    margin-right: auto;
}

table.ExifTable th,td {
    border: 1px solid #666666;
    word-break: break-all;
    text-align: left;
    padding: 5px;
}

#ThumbnailArea {
    width: 100%;
}
