html, body {
    height: 100%;
}

body {
    margin: 0;
    line-height: 160%;
    font-family: arial,sans-serif;
    font-size: 12pt;
    color: #e0e0e0;
    background-color: #333333;
}

a.white {
    background-color: #efefef;
}

input.time_range {
    position: absolute;
    top: 0;
    left: 0;
    width: 97%;
}

#range_start_background, #range_end_background {
    width: 97%;
    height: 1.5em;
    position: absolute;
    background-color: #000000;
}

#mapLoading {
    text-align: center;
    font-size: 0.75em;
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    color: #ffffff;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#mapLoadingBackground {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.75;
    background-color: #000000;
}

#graph_field {
    float: right;
    height: 95%;
    display: none;
}

#map_canvas {
    float: left;
    width: 100%;
    height: 55%;
}

#map_warningText {
    top: 8%;
    left: 50%;
    display: none;
    opacity: 0.9;
    position: absolute;
    padding-left: 1em;
    padding-right: 1em;
    color: #ff0000;
    background-color: #ffffff;
    z-index: 9;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

#top_field {
    height: 5%;
    width: 100%;
    vertical-align: middle;
}

#bottom_field {
    float: left;
    width: 45%;
    height: 40%;
}

#panorama_canvas {
    float: left;
    width: 100%;
    height: 100%;
}

#info_field {
    font-size: 9pt;
    line-height: 1.5em;
    float: right;
    width: 55%;
    height: 40%;
}

@media screen and (max-width: 720px) {
    width: 50%;
}

#graph_accelXY, #graph_accelZ, #graph_gyro, #graph_speed, #graph_event {
    width: 100%;
    height: 20%;
}

#gforce_accelXY {
    float: right;
    display: none;
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #455054;
}
