html, body {
    height: 100%;
}

body {
    margin: 0;
    line-height: 160%;
    font-family: arial,sans-serif;
    color: #e0e0e0;
    background-color: #333333;
}

a.white {
    background-color: #efefef;
}

input.time_range {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 97%;
}

#range_start_background, #range_end_background {
    width: 97%;
    height: 1em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000;
}

#graph_field {
    float: right;
    height: 95%;
    display: none;
}

#map_canvas {
    float: left;
    width: 100%;
    height: 55%;
}

#top_field {
    height: 5%;
    vertical-align: middle;
}

#bottom_field {
    float: left;
    width: 45%;
    height: 40%;
}

#panorama_canvas {
    float: left;
    width: 100%;
    height: 100%;
}

#info_field {
    float: right;
    width: 55%;
    height: 40%;
//    text-align: center;
}

@media screen and (max-width: 720px) {
    width: 50%;
}

#graph_accelXY, #graph_accelZ, #graph_gyro, #graph_speed, #graph_event {
    width: 100%;
    height: 20%;
}

#gforce_accelXY {
    float: right;
    display: none;
    width: 50%;
    height: 100%;
}
