html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: arial,sans-serif;
}

#title_field {
    float: left;
    width: 70%;
    height: 5%;
}

#filename_field {
    margin-left: 2em;
    font-weight: bold;
}

#control_field {
    float: right;
    width: 30%;
    height: 5%;
    text-align: right;
}

#ImageArea {
    height: 95%;
}

.back_link {
    position: absolute;
    top: 0%;
    left: 0%;
/*    font-weight: bold; */
/*    font-size: 100%; */
    text-decoration: none;
}
